<nav class=" container navbar navbar-expand-lg bg-success d-flex align-items-center mt-5  text-light">
    <div class="container-fluid  text-light">
      <a class="navbar-brand  text-light" routerLink="/" >CookPedia</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2 mb-lg-0  text-light">
          <li class="nav-item">
            <a class="nav-link active  text-light" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active  text-light" aria-current="page" routerLink="/recipes">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active  text-light" aria-current="page" routerLink="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active  text-light" aria-current="page" routerLink="/contact">Contact</a>
          </li>
         
       
        </ul>
        <div class="nav-item dropdown me-5">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user" style="font-size: 20px;"></i>
                @if(isLoggedIn){
                  <span>Hi,{{loginUsername}}</span>
                }
            </a>
            <div class="dropdown-menu">
              @if(isLoggedIn){
                <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                <li><a class="dropdown-item" routerLink="/save/recipes">Recipes Collection</a></li>
                <li><a class="dropdown-item" routerLink="/register"(click)="logout()">LogOut</a></li>


              }@else {
                <li><a class="dropdown-item" routerLink="/login">Login</a></li>
                <li><a class="dropdown-item" routerLink="/register">Register</a></li>

              }
          
            
            </div>
          </div>
      </div>
    </div>
  </nav>