<div class="container bg-success">
    <div class="row">
        <div class="col-lg-4 text-light">
            <h3><i class="fa-solid fa-graduation-cap"></i>CookPedia</h3>

            <p class="mt-5">Discover 100+ recipes in your hand with <br> the best recipes.Help you to find <br> the easiest way to cook</p>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-6">
            <h3 class="text-light">sign up for our news letter</h3>
            <div class="mt-3 d-flex">
                <input type="text" placeholder="E-mail" class="form-control me-3" > <button style="background-color: rgb(32, 177, 13); height: 50px;width: 50px;border: none;"><i class="fa-solid fa-arrow-right"></i></button>
                <button class="btn text-light "></button>
            </div>
            <div class="row mt-5">
                <div class="col-lg-4">
                    <h5 class="text-light">Menu</h5>

                    <a routerLink="" class="text-light text-decoration-none">Home</a> <br>
                    <a routerLink="" class="text-light text-decoration-none">Recipes</a> <br>
                    <a routerLink="" class="text-light text-decoration-none">Login</a><br>
                    <a routerLink="" class="text-light text-decoration-none">Register</a><br>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-light">Help</h5>

                    <a routerLink="" class="text-light text-decoration-none">Privacy & policy </a>  <br>  
                    <a routerLink="" class="text-light text-decoration-none">Terms of uses</a> <br>
                    <a routerLink="" class="text-light text-decoration-none">About</a><br>
                    <a routerLink="" class="text-light text-decoration-none">COntact Us</a><br>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-light">Scial Media</h5>

                    <a routerLink="" class="text-light text-decoration-none">Facebook</a> <br>
                    <a routerLink="" class="text-light text-decoration-none">Twitter</a> <br>
                    <a routerLink="" class="text-light text-decoration-none">instagram</a><br>
                    <a routerLink="" class="text-light text-decoration-none">Pinterst</a><br>
                </div>
            </div>
        </div>
    </div>
</div>