<app-header></app-header>
<div class="about container" style="padding: 50px 20px;">

  <div class="row">
    <div class="col-lg-6 bg-success" style="display: flex; justify-content: center; align-items: center;">
      <img src="https://i.postimg.cc/Y07CVT5K/veg-About-removebg-preview.png" alt="" style="width: 100%; max-width: 500px;">
    </div>
    <div class="col-lg-5 pt-3" style="margin-top: 130px;">
      <h1 style="font-family: 'Courier New', Courier, monospace; font-weight: 700; margin-bottom: 40px;color: #e67e22;">
        Welcome To CookPedia
      </h1>
      <p style="font-size: 18px; line-height: 1.6; color: #555;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit nobis ullam, laboriosam ut maiores quidem, eligendi id at nihil corrupti accusantium.
      </p>
    </div>
    <div class="col-lg-1 bg-success"></div>
  </div>

  <div class="abouus" style="margin-top: 50px; padding: 30px;">
    <div class="row">
      <div class="col-lg-6">
        <h1 style="color: #e67e22; font-weight: bold; font-size: 32px; margin-bottom: 20px;">About Us</h1>
        <p style="font-size: 18px; color: #444; line-height: 1.6;">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos magnam necessitatibus repudiandae explicabo porro facilis mollitia quis iure, labore praesentium ipsam odit! Eius quas nemo dignissimos aliquam nobis, odio labore?
        </p>
        <ul style="list-style: none; padding: 0;">
          <li style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">
            ✅ Lorem ipsum dolor sit amet consectetur.
          </li>
          <li style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">
            ✅ Explicabo porro facilis mollitia quis iure.
          </li>
          <li style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">
            ✅ Labore praesentium ipsam odit! Eius.
          </li>
          <li style="font-size: 16px; color: #2c3e50; margin-bottom: 10px;">
            ✅ Labore praesentium ipsam odit! Eius quas nemo dignissimos aliquam nobis, odio labore?
          </li>
        </ul>
        <button class="btn bg-success text-light mt-4">Konw more About us</button>
      </div>
      <div class="col-lg-5" style="display: flex; justify-content: center; align-items: center;">
        <img src="https://i.postimg.cc/4380jcjJ/shef-removebg-preview.png" alt="" style="width: 100%; max-width: 400px;">
      </div>
      <!-- <div class="col-lg-1 bg-success"></div> -->
    </div>
  </div>
  
</div>

<app-footer></app-footer>
