<div class="bg-success text-light text-center p-4 d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh; width: 250px;">
    <h4 class="mb-4 text-warning border border-light rounded p-3 shadow-lg ">CookPedia</h4>
    <a routerLink="/admin" class="text-decoration-none text-light fw-bold mb-3 p-2 rounded  w-75 text-center">Dashboard</a>

    <a routerLink="/admin/download-list" class="text-decoration-none text-light fw-bold mb-3 p-2 rounded   w-75 text-center">download</a>

    <a routerLink="/admin/user-list" class="text-decoration-none text-light fw-bold mb-3 p-2 rounded  w-75 text-center">user-list</a>

    <a routerLink="/admin/testimomy-list" class="text-decoration-none text-light fw-bold mb-3 p-2 rounded  w-75 text-center">testimomy-list</a>


    <a routerLink="/admin/Recipe-add" class="text-decoration-none text-light fw-bold mb-3 p-2 rounded  w-75 text-center">Recipe-add</a>

    <a routerLink="/admin/recipes-list" class="text-decoration-none text-light fw-bold mb-3 p-2 rounded bg-secondary  w-75 text-center">recipe-list</a>
</div>
